[package]
name = "rocketfetch"
version = "0.6.6"
authors = ["Devan Looches <devan.looches@gmail.com>"]
edition = "2021"
include = ["src/**/*"]
license = "MIT"
description = "A WIP command line system information tool written asynchronously in rust for performance with toml file configuration."
repository = "https://github.com/devanlooches/rustfetch"
readme = "README.md"
keywords = ["system", "cli", "fetch", "multithreaded", "multithreading"]
categories = ["command-line-utilities"]

[dependencies]
any_terminal_size = { version = "0.1.21", default-features = false }
console = { version = "0.15.0", default-features = false, features = ["ansi-parsing"] }
dirs = { version = "4.0.0", default-features = false }
libmacchina = { version = "6.1.1", default-features = false }
regex = { version = "1.5.6", default-features = false, features = ["unicode-perl"] }
secfmt = { version = "0.1.1", default-features = false }
serde = { version = "1.0.137", default-features = false }
serde_derive = { version = "1.0.137", default-features = false }
simple_logger = { version = "2.1.0", default-features = false }
structopt = { version = "0.3.26", default-features = false }
textwrap = { version = "0.15.0", features = ["unicode-width", "unicode-linebreak"] }
toml = { version = "0.5.9", default-features = false }
user-error = { version = "1.2.8", default-features = false }

[profile.release]
opt-level = 3
lto = "fat"

[dev-dependencies]
pretty_assertions = "1.2.1"
